

#cta .wrapper{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
}

.cta-image {
    z-index: 1;
    width: 49.16vw;
    height: 83.51vh;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta-content-section {
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.22vh;
    display: flex;
    position: relative;
}

.black-zone{
    z-index: 3;
    width: 100%;
    height: 12.87vh;
    background: #000;
}

.cta-content-section h1 {
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #3fef00 9.51%, #fff 99.98%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.28vw;
    position: relative;
}

.description {
    color: #fff;
    text-align: center;
    font-size: 2.5vw;
    position: relative;
}

@media screen and (max-width: 1024px){

    .cta-image {
        width: 100vw;
        height: 75vh;
        transform: translate(-50%, -60%);
    }

    .cta-content-section {
        gap: 2vh;
        margin-bottom: 6.67vh;
    }

    .black-zone{
        height: 0;
    }

    .cta-content-section h1 {
        font-size: 4.52vw;
    }

    .description {
        font-size: 3.81vw;
    }

}

@media screen and (max-width: 450px){
    #cta .wrapper{
        justify-content: flex-start;
        padding-top: 40vh;
        height: fit-content;
        min-height: unset;
    }

    .cta-image {
        width: 100vw;
        height: max(365px, 64.38vh);
        transform: translate(-50%, 0);
        top: 0;
    }

    .cta-content-section {
        gap: max(16px, 2.81vh);
        margin-bottom: 6.67vh;
    }

    .black-zone{
        height: 0;
    }

    .cta-content-section h1 {
        font-size: max(21px, 6.56vw);
        line-height: 1.2;
    }

    .description {
        font-size: max(18px, 5.63vw);
    }

}