
#formats{
    padding-top: 13.5vh;
}

.cards-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
}

.individual-card, .group-card {
    background-color: #0003;
    border: 3px solid #222933;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36.2vw;
    height: 64.81vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.individual-card:after, .group-card:after{
    content: "";
    width: 100%;
    height: 100%;
    z-index: 3;
    box-shadow: inset 0 3px 10px #fff;
    position: absolute;
}


.individual-overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.format-card-content{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.format-card-content div{
    width: 10.42vw;
    height: 10.42vw;
}

.format-card-content div svg{
    width: 100%;
    height: 100%;
}

.format-card-content h3{
    font-size: 3.13vw;
}

@media screen and (max-width: 1024px){
    .individual-card, .group-card {
        width: 46.43vw;
        height: 50vh;
    }

    .format-card-content div{
        width: 23.81vw;
        height: 23.81vw;
    }

    .format-card-content h3{
        font-size: 4.29vw;
    }
}

@media screen and (max-width: 450px) {

    #formats{
        padding-top: 5vh;
    }

    .cards-container {
        flex-direction: column;
        gap: max(20px, 3.51vh);
    }

    .individual-card, .group-card {
        width: 100%;
        height: max(300px, 52.5vh);
    }

    .format-card-content div{
        width: max(100px, 31.25vw);
        height: max(100px, 31.25vw);
    }

    .format-card-content h3{
        font-size: max(22px, 6.88vw);
    }
}