header{
    width: 100vw;
    padding: 2.96vh 12.5vw;
    z-index: 999;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav nav{
    display: flex;
    flex-direction: row;
    gap: 2.08vw;
    font-size: 1.25vw;
}

@media screen and (max-width: 1024px){

    header{
        padding: 1.67vh 4.76vw;
    }

    .close-button-container button, .menu-button-container button{
        border: none;
        background: none;
        cursor: pointer;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.active{
        padding: 0;
        box-shadow: none;
    }

    .nav{
        width: 100vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        background: #000;
        padding: 1.67vh 4.76vw;
        justify-content: flex-start;
    }

    .nav.active{
        display: flex;
    }

    .close-button-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.83vh;
    }

    .nav nav{
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1.33vh;
        font-size: 4.29vw;
        margin-bottom: 5.22vh;
    }

    .nav a, .nav a button{
        width: 100%;
    }

    .menu-button-container{
        width: 100%;
        display: none;
        justify-content: flex-end;
    }

    .menu-button-container.active{
        display: flex;
    }
}

@media screen and (max-width: 450px){

    header{
        padding: max(20px, 3.51vh) max(20px, 6.25vw);
    }

    .close-button-container button, .menu-button-container button{
        width: 32px;
        height: 32px;
    }

    .nav{
        padding: max(20px, 3.51vh) max(20px, 6.25vw);
    }

    .close-button-container{
        margin-bottom: max(10px, 1.74vh);
    }

    .nav nav{
        gap: max(16px, 2.81vh);
        font-size: 6.88vw;
        margin-bottom: max(32px, 5.61vh);
    }
}