

.program-content {
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    padding: 0 6.77vw;
    display: flex;
    position: relative;
}

.program-content-container {
    border: 3px solid #222933;
    border-radius: 8px;
    padding: 3.7vh 3.13vw;
    width: 100%;
    box-shadow:
            inset 0 3px 10px #fff,
            inset 0 5px 15px 5px #164c02;
}

.program-content-text{
    min-height: 57.5vh;
    gap: 2.96vh;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.program-row {
    justify-content: space-between;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
    position: relative;
}

.program-content-section {
    width: 24.48vw;
    position: relative;
}

.program-content-section h3 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #3fef00 3.64%, #fff 38.02%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.25vw;
    margin: 0 0 1.25vw 0;
}

.section-item {
    color: #fff;
    font-size: 1.04vw;
    word-wrap: break-word;
}

.carousel-navigation {
    margin-top: 2.96vh;
    width: 100%;
    gap: 1.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-button{
    border: none;
    background-size: 300% 100%;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: black;
    background-image: linear-gradient(to right, #3fef00, #fff, #3fef00, #3fef00);
    width: 4.17vw;
    height: 4.17vw;
    padding: 0;
    border-radius: 50%;
}

.carousel-button svg{
    width: 4.17vw;
    height: 4.17vw;
}

.carousel-button:not(.active){
    opacity: 0.3;
}

.carousel-button.active:hover {
    box-shadow: none;
    color: black;
    background-position: 0 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.carousel-button.active:active {
    background-image: linear-gradient(to right, #2A9C01, #2A9C01);
}

@media screen and (max-width: 1024px) {
    #program{
        padding-top: 7.5vh;
    }

    .program-content {
        padding: 0;
    }

    .program-content-container {
        padding: 3.33vh 2.38vw;
    }

    .program-content-text{
        min-height: 45vh;
        gap: 2.96vh;
    }

    .program-content-section {
        width: 42.86vw;
    }

    .program-content-section h3 {
        font-size: 3.33vw;
        margin: 0 0 3.33vw 0;
    }

    .section-item {
        font-size: 2.86vw;
    }

    .carousel-navigation {
        margin-top: 2.67vh;
        gap: 3.81vw;
    }

    .carousel-button{
        width: 9.52vw;
        height: 9.52vw;
    }

    .carousel-button svg{
        width: 9.52vw;
        height: 9.52vw;
    }
}

@media screen and (max-width: 450px) {

    .program-content-container {
        padding: max(20px, 3.51vh) max(20px, 6.25vw);
    }

    .program-content-text{
        min-height: 55vh;
        gap: 0;
    }

    .program-content-section {
        width: 100%;
    }

    .program-content-section h3 {
        font-size: max(24px, 7.5vw);
        margin: 0 0 7.5vw 0;
    }

    .section-item {
        font-size: max(16px, 4.5vw);
    }

    .carousel-navigation {
        margin-top: max(16px, 2.81vh);
        gap: max(32px, 10vw);
    }

    .carousel-button{
        width: max(60px, 18.75vw);
        height: max(60px, 18.75vw);
    }

    .carousel-button svg{
        width: max(60px, 18.75vw);
        height: max(60px, 18.75vw);
    }
}